.about-us {
    margin: 0;
    padding: 0;
    margin-top: -20px;
    box-sizing: border-box;
    height: 100%;
}

.about-us .card {
    height: 100%;
    min-height: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.about-us .card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow on hover */
}


.about-us .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.about-us .card-text {
    flex-grow: 1;
}

@media (min-width: 992px) {
    .row-equal-height {
        display: flex;
        align-items: stretch;
        height: 100%;
    }
}
