.homepage .section-1 {
  height: 100vh; /* Make sure the section has a height */
  background: linear-gradient(300deg, #00ff00, #00ccff, #9933ff);
  background-size: 150% 150%;
  animation: gradient-animation 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.homepage .section-1 .container-right {
  height: 100%;
  width: 60%;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  display: flex; /* Center content */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .section-1 .container-left {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .monitor {
  width: 100%;
  height: 100%;
  align-items: center;
  background-image: url("../Assets/Monitor.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage .monitor span {
  margin-top: -80px;
  font-weight: bold;
  color: white;
}

.homepage .keyboard {
  display: flex;
  align-items:end;
  justify-content: center;
}

.homepage .keyboard img{
  width: 100%;
  height: 220px;
}

.homepage .section-2 img, .section-3 img {
  z-index: 2;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 
      -5px -5px 10px rgba(0, 0, 0, 0.2),
      -5px 0 10px rgba(0, 0, 0, 0.2),
      5px 5px 10px rgba(0, 0, 0, 0.2);    
}

.homepage .custom-border-bottom {
  border-bottom: 2px solid #007bff; /* Change the color as needed */
}

.homepage .hiddenleft{
  opacity: 0;
  filter:blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.homepage .showleft{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.homepage .hiddenright{
  opacity: 0;
  filter:blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.homepage .showright{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
}

.homepage .hiddenup{
  opacity: 0;
  filter:blur(2px);
  transform: translateY(100px);
  transition: all 1s;
}

.homepage .showup{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

